@import "./variables";

@mixin ourGrid() {
    display: grid;
    grid-template-columns: 0.65fr 0.65fr 0.65fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1.66rem;
}



@mixin  ourPositionOfGrid {

    grid-column: 2/3;
    grid-row: 3/5;
    
}


.container{

    max-width: 1440px;
    margin: $ourMagin auto;
    padding: 2rem 4rem;
    background-color: hsl(0, 0%, 98%);
    height: 100vh;

    .s{
        @include ourGrid();
        border-radius: 8px;
        margin-bottom: 20px;

        .card{
            padding: 2rem;
            border-radius: 10px;
            background-color: white;
            box-shadow: 0px 10px 24px hsl(229, 6%, 66%);

            .title_card {
                font-weight: 600;
                font-style: normal;
                font-size: 1.66rem;
                margin-bottom: 1rem;
                color: hsl(234, 12%, 34%);
              }
            
              .parag_card {
                margin-bottom: 3rem;
                color: hsl(229, 6%, 66%);
              }

              img {
                float: right;
                }
          
          }

          .calculator {

            @include ourPositionOfGrid();
            border-top: 5px solid $ourThirdColor;
          }


      }

}