$ourMainColor : hsl(212, 86%, 64%);
$ourSecondColor : hsl(180, 62%, 55%);
$ourThirdColor :hsl(34, 97%, 64%);
$ourSecondColor : hsl(212, 86%, 64%);
$ourMagin : 0px;
$ourPadding : 0px;
$ourfontSize : 15px;
$ourfontfamilly : 'Poppins', sans-serif;