@import url('https://fonts.googleapis.com/css?family=Poppins:200,400');
@import "./variables";
@import "./container";

 *  {padding:$padding;
     margin: $ourmargin;
     box-sizing: border-box;
     $ourfont-size: 15px;
     $ourfont-family: 'Poppins', sans-serif;
    }

        
    